main {
  margin: 2rem;

  .todo-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .todo-count {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 1em;

      .count {
        background-color: lightgray;
        padding: 0.3em;
        border-radius: 5px;
        border: 2px solid #6b3d81;
        min-width: 35px;
        text-align: center;
        font-weight: 500;
      }
    }
  }

  .todo-list {
    margin: 2rem auto;
  }
}
