.app-container {
  position: relative;
  width: 24rem;
  height: 100vh;
  background-color: #ece4f2;
  font-size: 0.8em;
}

.footer-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #6b3d81;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
}

.nav-link {
  flex: 1;
  text-decoration: none;
  border-radius: 0.5em;
  background-color: #9555b3;
  padding: 1em;
  text-align: center;
  margin: 0.1rem;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8ad2d7;
  }
}

@media only screen and (min-width: 768px) {
  .app-container {
    width: 26.75rem;
    font-size: 1em;
  }
}
